.sales{
    display: flex;
    scrollbar-width: none;
    width: 100vw;
}
.sales .second{
    background-color: #F1F3F6;
    width: 33vw;
    height: 100vh;
    overflow: hidden;
    /* border-left: 2px  solid #b2b2b4; */

}
.sales .first{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
}