.bottomprice{
    background-color: #07273D;
    display: flex;
    padding: 0.8rem;
    justify-content: space-between;
    align-items:center;
    font-size: 1.3rem;
    font-weight: 300;
    text-transform: capitalize;
    color: white;
}
.bottomprice svg{
    width: 1.3rem;
    fill: white;
    transform: rotate(270deg);
    margin-left: 0.5rem;
}
.bottomprice .bold{
    font-weight: 600;
}