.individual {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.individual .topbar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.individual .topbar .bold {
    font-size: 1.5rem;
    font-weight: 800;
}

.individual .topbar li svg {
    width: 1.5rem;
    fill: #4E585E;
}

.individual .food {
    display: flex;
    align-items: center;
}

.individual .food img {
    width: 10vw;
    height: 16vh;
    object-fit: cover;
    border-radius: 0.5rem;
    margin: 0.5rem;
}

.individual .food .name {
    font-size: 18px;
    font-weight: 600;
    margin-left: 1rem;
    text-transform: capitalize;
}

.individual .slidebar {
    display: flex;
    margin: 0% 10%;
    width: 80%;
    border: 1px solid #D9DBDD;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
}

.individual .slidebar .active {
    background-color: #1263DF;
    width: 50%;
    text-align: center;
    padding: 0.5rem;
    font-weight: 500;
    text-transform: capitalize;
    color: white;
}

.individual .slidebar .inactive {
    width: 50%;
    text-align: center;
    padding: 0.5rem;
    font-weight: 500;
    text-transform: capitalize;
}

.individual .quantity {
    /* display: flex; */
    display: none;
    flex-direction: column;
    margin: 1rem;
}

.individual .quantity h2 {
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
    margin: 1rem 0rem;
}

.individual .quantity .size {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D9DBDD;
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: capitalize;
    padding: 0.8rem;
}

.individual .quantity .size input {
    margin-right: 0.5rem;
}

.individual .quantity .size .amountactive {
    font-weight: 800;
    color: #1263DF;
}

.individual .quantity .size .amount {
    font-weight: 800;
}

.individual .add-ons {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.individual .add-ons input{
    margin-right: 1rem;
}

.individual .add-ons li{
    border-bottom: 1px solid #D9DBDD;
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: capitalize;
    padding: 0.8rem; 
}