.menulistitem{
    display: flex;
    width: 37vw;
    flex-direction: column;
    scroll-behavior: smooth;
}

.menulistitem .topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 0.5rem;
}

.menulistitem .topbar .heading{
    font-size: 1.2rem;
    font-weight: 600;
    width: 80%;
}
.menulistitem .topbar .closeicon{
    fill: gray;
}
.menulistitem .topbar svg{
    width: 1.2rem;
    cursor: pointer;
}
.menulistitem .filters{
    display: flex;
    gap:0.5rem;
    width:97%;
    overflow-x: scroll;
    padding: 0.5rem 1rem 0.2rem 0rem;
    margin:0.3rem;
    margin-bottom: 0rem;
    border-bottom:1px solid gray ;
}

.menulistitem .filters .filter{
    border: 1px solid gray;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: white;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
}

.menulistitem .filters .filteractive{
    border:1px solid #1263DF;
    background-color: #1263DF;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
}
/* ================================================ */

.menulistitem .items{
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    justify-content: center;
    gap:1rem;
    height: 75vh;
    padding-top: 1rem;
}

.menulistitem .items .itemlist{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 0.5rem;
    width: fit-content;
    height: fit-content;
    background-color: white;
    width: 11vw;
    cursor: pointer;
    height: 24vh;
}

.menulistitem .items .itemlist img{
    width: 100%;
    height:16vh;
    border-radius: 0.5rem;
    object-fit: cover;
}

.menulistitem .items .itemlist .itemdetail{
    margin: 0rem 0.2rem;
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: capitalize;
}

.menulistitem .items .itemlist .varients{
    font-size:0.7rem;
    font-weight: 600;
    color: grey;
}